body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #b8e590;
    color: white;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1050px;
    margin: 0 auto;
}

/* Barra de navegación */
.navbar {
    background-color: black;
    padding: 7px;
    border-radius: 0 0 10px 10px;
    justify-content: center;
}

.navbar ul li {
    display: inline-block;
    margin-right: 20px;
}

.navbar ul li a {
    color: white;
    font-weight: bold;
}

/* Encabezado */
.header {
    text-align: center;
    margin: 20px 0;
}

.header img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.header h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.contenedor {
    max-width: 350px;
    height: 425px;
    border: solid;
    border-radius: 10px;
    background-color: #3f933f;
    border-color: black;
    box-sizing: border-box;
    margin: 20px auto;
}

/* Servicios */
.servicios {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.container3 {
    max-width: 700px;
    width: 100%;
    height: auto;
    border: solid;
    border-radius: 10px;
    background-color: #3f933f;
    border-color: black;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    margin: 20px auto;
    position: relative;

}

.imagenservicios {
    width: 100%;
    height: auto;
    max-width: 550px;
}

.container4{
    text-align: center;
}

.service-cntnr {
    display: flex;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 560px;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.5s ease;
}

.scnd-box{
    display: block;
    margin-left: 10px;
    margin-top: 10px;
    text-align: left;
}

.separador{
    display: block;
}

.service-cntnr:hover {
    background-color: #0056b3;
}

.service-cntnr img {
    width: 100%;
    max-width: 140px;
    height: auto;
    margin-bottom: 5px;
    border-radius: 10px;
}

.service-cntnr {
    margin-bottom: 15px;
    padding: 10px;
}

.enlace1{
    color: #fff;
}

.enlace2{
    color: #fff;
}


.enlace3{
    color: #fff;
}

.enlace4{
    color: #fff;
}

.enlace5{
    color: #fff;
}

.enlace6{
    color: #fff;
}

h1 {
    text-align: center;
    font-size: 14px;
    color: white;
}

/* Pie de página */
footer {
    background-color: black;
    color: white;
    padding: 15px;
    text-align: center;
}

.social h3 {
    font-size: 15px;
    margin-bottom: 10px;
}

.social ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.social ul li a {
    text-decoration: none;
    color: #fff;
}

.copyright {
    font-size: 14px;
    margin-top: 20px;
}

/* Media Queris */
@media (max-width: 768px) {
    .navbar ul li {
        margin-right: 10px;
    }
}

@media (max-width: 576px) {
    .navbar ul li {
        display: block;
        margin-bottom: 10px;
    }

    .container3 button {
        flex-basis: calc(100% - 20px);
    }
}
