body{
    background-color: #b8e590;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: black;
    margin: 0 auto;
    padding: 20px;
    max-width: 1200px;
}

.contenedor1{
    max-width: 350px;
    height: 470px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #3f933f;
    border-color: black;
    box-sizing: border-box;
    margin: 20px auto;
    box-shadow: 0 0 20px rgba(0,0,0,0.75);
    overflow: hidden;
}

#img-log{
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

#ttl{
    font-family: Arial, Helvetica, sans-serif;
}

.fnt-family{
    color: black;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

h1 {
    font-size: 24px;
    margin-bottom: 30px;
}

.emailCntnr{
    display:block;
    margin-top: 10px;
}

#btn-log{
    margin-top: 20px;
    margin-bottom: 15px;
    display: block;
}

.my-button {
    padding: 10px 20px;
    background-color: #3060ad;
    color: white;
    border: 2px solid white;
    border-radius: 4px;
    cursor: pointer;
    box-sizing: border-box;
}
  
.my-button:hover {
    background-color: #eb661c;
}
  
.my-button:active {
    background-color: blue;
}
  